name: Build TrixieOs ISO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install host dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential bc bison flex \
          libncurses-dev libssl-dev \
          libelf-dev elfutils \
          grub-pc-bin grub-common \
          xorriso mtools \
          wget curl tar gzip xz-utils \
          cpio rsync

    - name: Prepare workspace
      run: |
        mkdir -p work/rootfs iso/boot/grub

    - name: Bootstrap base system (hidden)
      run: |
        wget -q https://dl-cdn.alpinelinux.org/alpine/v3.23/releases/x86_64/alpine-minirootfs-3.23.2-x86_64.tar.gz
        tar -xzf alpine-minirootfs-3.23.2-x86_64.tar.gz -C work/rootfs

    - name: Basic system config
      run: |
        cat <<EOF > work/rootfs/etc/os-release
        NAME="TrixieOs"
        PRETTY_NAME="TrixieOs"
        ID=trixieos
        VERSION_ID=1.0
        EOF

        echo "TrixieOs ProjectA tarafından yapıldı" > work/rootfs/etc/issue

    - name: Disable all networking
      run: |
        rm -rf work/rootfs/etc/init.d/networking || true
        rm -rf work/rootfs/etc/network || true
        rm -rf work/rootfs/etc/apk/repositories
        echo "" > work/rootfs/etc/resolv.conf

    - name: Build Linux Kernel
      run: |
        wget -q https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.8.tar.xz
        tar -xf linux-6.6.8.tar.xz
        cd linux-6.6.8
        make defconfig
        make -j$(nproc)
        cp arch/x86/boot/bzImage ../iso/boot/vmlinuz

    - name: Install XFCE minimal (offline)
      run: |
        mkdir -p work/rootfs/usr/bin
        echo '#!/bin/sh' > work/rootfs/usr/bin/startx
        echo 'exec xfce4-session' >> work/rootfs/usr/bin/startx
        chmod +x work/rootfs/usr/bin/startx

    - name: Create user
      run: |
        echo "trixieuser:x:1000:1000:Trixie User:/home/trixieuser:/bin/sh" >> work/rootfs/etc/passwd
        mkdir -p work/rootfs/home/trixieuser

    - name: Init system
      run: |
        mkdir -p work/rootfs/etc/init.d
        cat <<EOF > work/rootfs/etc/init.d/bootmsg
        #!/bin/sh
        echo "TrixieOs ProjectA tarafından yapıldı"
        EOF
        chmod +x work/rootfs/etc/init.d/bootmsg

    - name: Create initramfs
      run: |
        cd work/rootfs
        find . | cpio -H newc -ov | gzip > ../../iso/boot/initramfs.gz

    - name: GRUB config
      run: |
        cat <<EOF > iso/boot/grub/grub.cfg
        set timeout=0
        set default=0

        menuentry "TrixieOs" {
          linux /boot/vmlinuz quiet
          initrd /boot/initramfs.gz
        }
        EOF

    - name: Build ISO
      run: |
        grub-mkrescue -o TrixieOs.iso iso

    - name: Upload ISO
      uses: actions/upload-artifact@v4
      with:
        name: TrixieOs
        path: TrixieOs.iso
